<!-- Para la página principal se ha usado un template de uso público, especificamente: https://getbootstrap.com/docs/4.0/examples/ , el de dashboard-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/tren.png') }}">

    <title>Metro Monterrey</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapa.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        <a class="navbar-brand col-sm-3 col-md-2 mr-0 px-3" href="/">
            Metro Monterrey
        </a>

        <div class="ml-auto px-4 text-light">
            <strong>Transporte ecológico</strong>
        </div>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <form method="POST" class="mt-5">
                        <!--añade un token para evitar CSRF (cross site request forgery), basicamente alguien intentando atacar desde otro lado-->
                        {{ form.hidden_tag() }}
                        <label for="estacionSalida">Estación de salida</label>

                        <select id="estacionSalida" name="salida" class="form-control" required>
                            <option value="" selected disabled>
                                Selecciona una estación
                            </option>

                            {% for estacion in estaciones %}
                            <option value="{{ estacion }}">
                                {{ estacion }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="estacionDestino" class="mt-3">Estación de destino</label>

                        <select id="estacionDestino" name="destino" class="form-control" required>
                            <option value="" selected disabled>
                                Selecciona una estación
                            </option>
                            {% for estacion in estaciones %}
                            <option value="{{ estacion }}">
                                {{ estacion }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary mt-3">Buscar ruta</button>

                    </form>


                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                HAY QUE MOVER LOS BOTONES
                        <button id="zoomInButton">+</button>
                        <button id="zoomOutButton">−</button>
                        <button id="resetButton">Reset</button>
                <div id="mapa">
                    <div id="mapa-contenido">

                    <img src="{{ url_for('static', filename='images/mapa_monterrey.png') }}" class="img-fluid"
                        alt="Foto del mapa de Monterrey"></img>
                    <!--Punto muñeco-->


                    </div>
                </div>
            </main>
                <!--JavaScript-->

                <!--Bootstrap-->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <!-- Icons -->
                <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                <script>
                    feather.replace()
                </script>

                <!--panzoom es un framework para hacer zoom en fotos, la documentacion en:https://timmywil.com/panzoom/-->
                <!--Se usó la demo como inspiración del codigo-->
                <script src="https://unpkg.com/@panzoom/panzoom/dist/panzoom.min.js"></script>

                <!--mis scripts-->
                <script src="{{ url_for('static', filename='js/lineas.js') }}"></script>
                <script src="{{ url_for('static', filename='js/panzoom.js') }}"></script>
                <script src="{{ url_for('static', filename='js/botones.js') }}"></script>
                <script src="{{ url_for('static', filename='js/pulsaciones.js') }}"></script>

</body>

</html>